body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2,
h3 {
    color: #333;
}

#nicknameSection,
#roomSection,
#gameSection {
    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#gameRoomSection {
    display: none;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #218838;
}

#gameContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#currentStage {
    background-color: #ccc;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

#turnMessage {
    background-color: #ccc;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

#playersSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.player {
    width: 48%;
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 5px;
}

#keywordBox {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
}

#chatLog {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
}

#inputSection {
    display: flex;
    justify-content: space-between;
}

#inputSection input {
    width: 48%;
    padding: 10px;
    margin-right: 5px;
}

#inputSection button {
    width: 20%;
}

#timer {
    margin: 10px 0;
}
